/* --------- FONTS --------- */
/* livvic-regular - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/livvic-v13-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/livvic-v13-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-500italic - latin */
@font-face {
  font-family: "Livvic";
  font-style: italic;
  font-weight: 500;
  src: local(""),
    url("../fonts/livvic-v13-latin-500italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/livvic-v13-latin-500italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-600 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/livvic-v13-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/livvic-v13-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-700 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/livvic-v13-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/livvic-v13-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-700italic - latin */
@font-face {
  font-family: "Livvic";
  font-style: italic;
  font-weight: 700;
  src: local(""),
    url("../fonts/livvic-v13-latin-700italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/livvic-v13-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* --------- CUSTOM STYLES --------- */
:root {
  /* COLORS */

  /* primary */
  --primary-light-color: #f67e7e;
  --primary-midnight-color: #014e56;
  --primary-white-color: #ffffff;

  /* secondary */
  --secondary-rapture-blue-color: #79c8c7;
  --secondary-police-blue-color: #2c6269;
  --secondary-deep-green-color: #004047;
  --secondary-sacramento-green-color: #012f34;
  --secondary-dark-green-color: #002529;

  /* FONTS */

  /* main fonts 1 */
  --main-font-family: "Lavvic", Arial, Helvetica, sans-serif;
  --main-font-size-1: 1.8rem;
  --main-font-size-2: 1.5rem;
  --main-font-weight: 600;

  --main-line-height-1: 1.56;
  --main-line-height-2: 1.67;

  /* headings */
  --h1-large-size: 10rem;
  --h1-large-line-height: 1;

  --h1-small-size: 6.4rem;
  --h1-small-line-height: 0.88;

  --h2-size: 4.8rem;
  --h2-line-height: 1;

  --h3-size: 1.8rem;
  --h3-line-height: 1.56;
}

/* --------- GLOBAL --------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
  transition: 0.3s;
}

::-webkit-scrollbar:hover {
  border: 1px solid #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border: 0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(238, 238, 238);
}

::-webkit-scrollbar-thumb:active {
  background-color: #b1b1b1;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: flex;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size-1);
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height-1);
  color: var(--primary-white-color);
  background-color: var(--primary-midnight-color);
}

.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* --------- BUTTONS --------- */

.btn {
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 24px;
  padding: 11px 33px 11px;
  line-height: initial;
  transition: all 0.3s ease;
}

.btn:active {
  opacity: 0.6;
}

.btn_light {
  border-color: var(--primary-white-color);
  color: var(--primary-white-color);
}

.btn_light:hover {
  color: var(--secondary-dark-green-color);
  border-color: transparent;
  background-color: var(--primary-white-color);
}

.btn_dark {
  border-color: var(--secondary-sacramento-green-color);
  color: var(--secondary-sacramento-green-color);
}

.btn_dark:hover {
  background-color: var(--secondary-sacramento-green-color);
  color: var(--primary-white-color);
  border-color: transparent;
}

.site-divider {
  width: 50px;
  height: 4px;
  background-color: var(--secondary-rapture-blue-color);
  border: 0;
}

/* HEADER */
.header {
  padding: 7rem 0;
}

.header__container {
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: 8rem;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.logo-link__img {
}

.sitenav {
  margin-right: auto;
}

.sitenav__list {
  display: flex;
  column-gap: 4rem;
}

.sitenav__item {
}

.sitenav__link {
  color: var(--primary-white-color);
  line-height: 1.56;
  transition: all 0.3s ease;
}

.sitenav__link:hover {
  color: var(--primary-light-color);
}

.header__btn {
}

/* MAIN */
.main {
  flex-grow: 1;
}

/* HERO SECTION */
.hero {
  background-image: url(../images/svg/hero-bg-left.svg),
    url(../images/svg/hero-bg-bottom.svg);
  background-repeat: no-repeat;
  background-position: left -100px top 50px, right 16.5rem bottom -100px;
  padding-top: 5.6rem;
  padding-bottom: 25rem;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero__title--wrapper {
  width: 63.5rem;
}

.hero__title {
  font-size: var(--h1-large-size);
  line-height: var(--h1-large-line-height);
}

.text-primary {
  color: var(--primary-light-color);
}

.hero__info {
  width: 44.5rem;
}

.hero__divider {
  margin-bottom: 7.9rem;
}

.hero__description {
  line-height: 1.56;
}

/* features SECTION */
.features {
  background-color: var(--secondary-sacramento-green-color);
  padding: 14rem 0;
  background-image: url(../images/svg/features-right-bottom.svg);
  background-repeat: no-repeat;
  background-position: right -122px bottom;
}

.features__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features__title--wrapper {
  width: 44.5rem;
}

.features__divider {
  background-color: var(--primary-light-color);
  margin-bottom: 5.4rem;
}

.features__title {
  font-size: var(--h2-size);
  line-height: var(--h2-line-height);
}

.features__list {
  width: 54rem;
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
}

.features__item {
  display: flex;
  column-gap: 2.3rem;
}

.features__item-img {
}

.features__item-info {
}

.features__item-title {
  font-size: var(--h3-size);
  color: var(--primary-light-color);
  line-height: var(--h3-line-height);
  margin-bottom: 1.6rem;
}

.features__item-description {
  font-size: var(--main-font-size-2);
  line-height: var(--main-line-height-2);
}

/* REVIEWS SECTION */
.reviews {
  padding: 14rem 0;
  background-image: url(../images/svg/reviews-bg-left.svg),
    url(../images/svg/reviews-bg-right.svg);
  background-repeat: no-repeat;
  background-position: left 0 top 0, right 0 bottom 0;
}

.reviews__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__title--wrapper {
  width: 93.2rem;
}

.reviews__title {
  font-size: var(--h2-size);
  line-height: var(--h2-line-height);
  text-align: center;
  margin-bottom: 5.6rem;
}

.secondary-text {
  color: var(--secondary-rapture-blue-color);
}

.reviews__list {
  display: flex;
}

.reviews__item {
  width: 35rem;
  padding-top: 3.5rem;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-image: url(../images/svg/reviews_item-bg.svg);
  background-repeat: no-repeat;
  background-position: center top;
}

.reviews__item-img {
}

.reviews__item-info {
}
.reviews__item-description {
  font-size: var(--main-font-size-2);
  line-height: var(--main-line-height-2);
  margin-bottom: 2.4rem;
}
.reviews__item-title {
  margin-bottom: 3.2rem;
}
.reviews__item-name {
  color: var(--secondary-rapture-blue-color);
  margin-bottom: 2px;
}
.reviews__item-user_info {
  font-size: 1.3rem;
  font-weight: 500;
  font-style: italic;
  line-height: 1.38;
}

/* START SECTION */
.start {
  padding: 7.6rem 0;
  background-color: var(--primary-light-color);
  background-image: url(../images/svg/start-bg-left.svg);
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
}

.start__container {
  display: flex;
  justify-content: space-around;
}

.start__title {
  color: var(--secondary-sacramento-green-color);
  font-size: var(--h2-size);
  line-height: var(--h2-line-height);
}

.start__btn {
}

/* FOOTER */
.footer {
  background-color: var(--secondary-dark-green-color);
  padding: 4.8rem 0;
}

.footer__container {
  display: flex;
}

.footer__header {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  margin-right: 12.5rem;
}

.footer__address {
  margin-right: auto;
}

.footer__address-info {
  font-style: normal;
  font-size: var(--main-font-size-2);
  mix-blend-mode: normal;
  opacity: 0.6;
}

.footer__socials {
}

.footer__list {
  display: flex;
  justify-content: end;
  gap: 1.6rem;
  margin-bottom: 3.5rem;
}
.footer__item {
}
.footer__link {
  color: var(--primary-white-color);
  font-size: 2.4rem;
}

.footer__link:hover {
  color: var(--primary-light-color);
}

.footer__link:active {
  opacity: 0.6;
}

.copy {
  mix-blend-mode: normal;
  font-weight: 600;
  opacity: 0.6;
}

/* ABOUT PAGE */

/* INTRO SECTION */
.intro {
  background-image: url(../images/svg/about-hero-bg-right.svg);
  background-repeat: no-repeat;
  background-position: right 0 bottom;
  padding-top: 5rem;
  padding-bottom: 12rem;
}

.intro__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__title {
  font-size: var(--h1-small-size);
  line-height: var(--h1-small-line-height);
}
.intro__info {
  width: 730px;
}
.intro__divider {
  background-color: var(--primary-light-color);
  margin-bottom: 4rem;
}

.intro__description {
}

/* MEETING SECTION */
.meeting {
  background-color: var(--secondary-deep-green-color);
  background-image: url(../images/svg/about-meeting-bg-top.svg),
    url(../images/svg/about-meeting-bg-bottom.svg);
  background-repeat: no-repeat;
  background-position: left top, bottom right;
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.meeting__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meeting__title {
  font-size: var(--h2-size);
  line-height: var(--h2-line-height);
  text-align: center;
  margin-bottom: 6.4rem;
}

.meeting__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7.6rem 3rem;
}

.meeting__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35rem;
  padding: 3.2rem 2.4rem 5.6rem;
  background-color: var(--secondary-sacramento-green-color);
}

.meeting__item:nth-child(6) {
  padding: 3.5rem 4.8rem 6.3rem;
}

.meeting__item:nth-child(6) .meeting__item-name {
  margin-bottom: 0.8rem;
}

.meeting__item:nth-child(6) .meeting__item-description {
  margin-bottom: 2.4rem;
}

.meeting__item-img {
  margin-bottom: 1.6rem;
}

.meeting__item-info {
  text-align: center;
}

.meeting__item-name {
  color: var(--secondary-rapture-blue-color);
  font-size: var(--h3-size);
  line-height: var(--h3-line-height);
}

.meeting__item-description {
  font-size: var(--main-font-size-2);
  font-weight: 500;
  font-style: italic;
  line-height: var(--main-line-height-2);
}

.meeting__item-form {
  position: absolute;
  bottom: -35px;
}

.meeting__item-checkbox {
  cursor: pointer;
  appearance: none;
}

.meeting__item-checkbox::before {
  content: "";
  background-image: url(../images/svg/x-shape.svg);
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 100%;
  bottom: 0;
  background-color: var(--primary-light-color);
  transition: all 0.3s;
}

.meeting__item-checkbox:checked::before {
  transform: rotate(45deg);
  background-color: var(--secondary-rapture-blue-color);
}

/* CLIENTS SECTION */
.clients {
  background-color: var(--secondary-sacramento-green-color);
  background-image: url(../images/svg/clients-circle.svg);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.clients__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients__title {
  font-size: var(--h2-size);
  line-height: var(--h2-line-height);
  margin-bottom: 6.4rem;
}

.clients__brands {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
.clients__brands-img {
}